In [60]:
# We import the libraries need to read/write the dataset

import os
import pandas as pd

In [61]:
# For clarity, we extarct the path and file name

DATASET_PATH = 'DATA/2017-2018/'
FILE1 = '2017-2018-ALL.csv'
FILE2 = '2017-2018-DIQ_J.csv'

In [62]:
# We store all the excel data in a variable called dataset

data_path_1 = os.path.join(DATASET_PATH, FILE1)
dataset_1 = pd.read_csv(data_path_1)

data_path_2 = os.path.join(DATASET_PATH, FILE2)
dataset_2 = pd.read_csv(data_path_2)

In [63]:
print('The shape of the first dataset is: ', dataset_1.shape)
print('The shape of the second dataset is: ', dataset_2.shape)

('The shape of the first dataset is: ', (4669, 11))
('The shape of the second dataset is: ', (8897, 2))

In [64]:
dataset_1.head()

,SEQN,BMXWT,BMXHT,BMXBMI,BMXWAIST,BPQ020,RIDAGEYR,RIDRETH3,MCQ300C,PAQ665,LBXTC
0,93705,79.5,158.3,31.7,101.8,1,66,4,1,1,157
1,93708,53.5,150.2,23.7,88.2,1,66,6,1,1,209
2,93709,88.8,151.1,38.9,113.0,1,75,4,1,2,176
3,93711,62.1,170.6,21.3,86.6,2,56,6,2,1,238
4,93713,74.9,178.6,23.5,99.7,2,67,3,2,1,184

In [66]:
dataset_1.shape

(4669, 11)

In [67]:
dataset_2.head()

    SEQN  DIQ010
0  93703       0
1  93704       0
2  93705       0
3  93706       0
4  93707       0

In [52]:
merged_inner = pd.merge(left=dataset_1, right=dataset_2, left_on="SEQN", right_on="SEQN")

merged_inner.shape
merged_inner

,SEQN,BMXWT,BMXHT,BMXBMI,BMXWAIST,BPQ020,RIDAGEYR,RIDRETH3,MCQ300C,PAQ665,LBXTC,OUTCOME,Unnamed: 2,Unnamed: 3
0,83733,90.4,171.4,30.8,107.9,2,53,3,1,2,265,0,NaN,NaN
1,83734,83.4,170.1,28.8,116.5,1,78,3,2,2,229,1,NaN,NaN
2,83736,55.2,164.9,20.3,80.4,2,42,4,9,2,204,0,NaN,NaN
3,83737,64.4,150.0,28.6,92.9,2,72,1,1,2,190,0,NaN,NaN
4,83741,76.6,165.4,28.0,86.6,2,22,4,1,2,164,0,NaN,NaN
5,83750,76.2,177.8,24.1,90.1,2,45,7,2,1,181,0,NaN,NaN
6,83754,117.8,164.1,43.7,123.0,1,67,2,1,1,169,1,NaN,NaN
7,83755,97.4,183.8,28.8,106.3,1,67,4,1,1,189,1,NaN,NaN
8,83757,80.5,150.8,35.4,113.5,1,57,2,1,1,227,1,NaN,NaN
9,83761,61.8,156.4,25.3,79.5,2,24,6,2,2,243,0,NaN,NaN
10,83773,67.7,149.8,30.2,108.4,1,80,3,1,2,134,0,NaN,NaN
11,83777,69.0,166.1,25.0,93.5,1,56,6,1,2,146,1,NaN,NaN
12,83781,87.8,160.7,34.0,103.6,2,27,4,1,2,146,0,NaN,NaN
13,83787,77.4,152.0,33.5,103.1,1,68,1,2,2,243,0,NaN,NaN
14,83789,102.9,173.9,34.0,109.5,1,66,3,2,1,143,0,NaN,NaN
15,83790,85.6,187.4,24.4,100.5,2,56,3,1,2,292,1,NaN,NaN
16,83801,58.5,157.1,23.7,90.1,1,80,3,2,2,126,0,NaN,NaN
17,83809,72.9,166.8,26.2,92.6,2,20,4,1,1,143,0,NaN,NaN
18,83813,89.2,182.2,26.9,89.2,2,24,3,2,1,126,0,NaN,NaN
19,83816,59.3,178.4,18.6,79.1,2,27,3,2,1,103,0,NaN,NaN
20,83818,72.3,159.2,28.5,97.9,1,80,2,1,2,108,0,NaN,NaN
21,83820,81.7,173.8,27.0,100.3,2,70,3,2,1,192,0,NaN,NaN
22,83822,60.4,164.8,22.2,78.4,2,20,4,2,2,206,0,NaN,NaN
23,83823,66.8,150.0,29.7,96.5,2,29,1,2,2,254,0,NaN,NaN
24,83828,71.3,162.0,27.2,94.6,2,39,1,1,2,189,0,NaN,NaN
25,83832,105.9,157.7,42.6,129.1,2,50,1,1,2,185,0,NaN,NaN
26,83834,87.7,176.4,28.2,105.3,2,69,4,2,1,187,0,NaN,NaN
27,83844,68.9,172.8,23.1,85.2,2,27,1,2,1,183,0,NaN,NaN
28,83849,80.3,170.6,27.6,101.7,1,71,2,2,1,89,1,NaN,NaN
29,83851,85.1,155.3,35.3,106.5,2,37,3,2,2,197,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2276,93547,139.4,180.5,42.8,145.4,2,48,4,2,1,194,0,NaN,NaN
2277,93550,83.3,175.4,27.1,92.3,1,37,6,2,2,150,0,NaN,NaN
2278,93558,85.9,160.9,33.2,114.5,1,67,3,1,1,160,0,NaN,NaN
2279,93563,59.5,149.8,26.5,92.8,1,80,1,1,2,192,0,NaN,NaN
2280,93565,65.1,170.7,22.3,86.6,2,60,3,1,1,200,0,NaN,NaN
2281,93572,68.2,175.7,22.1,99.6,2,80,3,2,2,139,0,NaN,NaN
2282,93573,123.0,181.5,37.3,123.2,1,55,4,1,2,197,1,NaN,NaN
2283,93582,68.0,172.1,23.0,73.1,2,20,6,2,1,133,0,NaN,NaN
2284,93589,68.0,170.6,23.4,95.6,2,66,3,2,1,222,0,NaN,NaN
2285,93590,84.7,164.0,31.5,112.5,2,28,4,1,1,189,0,NaN,NaN
2286,93592,86.2,173.5,28.6,94.9,2,36,1,1,1,233,0,NaN,NaN
2287,93593,89.1,161.3,34.2,122.1,2,74,3,2,2,213,0,NaN,NaN
2288,93598,65.4,157.1,26.5,94.9,2,71,2,2,1,197,0,NaN,NaN
2289,93600,48.0,159.2,18.9,71.2,2,22,3,1,1,170,0,NaN,NaN
2290,93607,109.7,180.8,33.6,113.0,1,50,2,1,1,200,1,NaN,NaN
2291,93608,96.2,153.5,40.8,113.9,1,57,4,2,1,201,0,NaN,NaN
2292,93611,117.3,166.1,42.5,124.5,1,70,3,2,2,169,0,NaN,NaN
2293,93612,65.7,162.4,24.9,89.0,2,36,6,2,2,184,0,NaN,NaN
2294,93619,51.9,149.3,23.3,81.4,2,44,6,2,2,205,0,NaN,NaN
2295,93624,60.9,165.6,22.2,76.0,2,41,4,1,1,261,0,NaN,NaN
2296,93639,86.1,186.1,24.9,88.5,2,25,3,2,1,140,0,NaN,NaN
2297,93643,103.2,158.5,41.1,111.3,2,64,4,2,2,245,0,NaN,NaN
2298,93655,75.9,177.8,24.0,92.0,2,38,3,2,2,264,0,NaN,NaN
2299,93656,92.7,156.4,37.9,122.0,1,75,1,1,1,152,1,NaN,NaN
2300,93663,75.7,177.1,24.1,94.6,2,43,1,2,2,193,0,NaN,NaN
2301,93664,74.9,169.6,26.0,92.5,2,39,1,2,2,191,0,NaN,NaN
2302,93677,62.2,167.4,22.2,83.3,2,34,3,2,1,178,0,NaN,NaN
2303,93682,58.2,166.9,20.9,80.8,2,41,6,2,2,183,0,NaN,NaN
2304,93689,64.8,151.9,28.1,101.1,2,69,1,1,2,167,1,NaN,NaN
2305,93695,59.1,165.8,21.5,95.0,1,76,3,2,2,140,0,NaN,NaN

In [28]:
# merged_inner['OUTCOME'].loc[(merged_inner['LBXGLU'] == 1)] = 1

In [53]:
# create excel writer object
writer = pd.ExcelWriter('2015-2016.xlsx')

# write dataframe to excel
merged_inner.to_excel(writer)

# save the excel
writer.save()

print('DataFrame is written successfully to Excel File.')

DataFrame is written successfully to Excel File.